<h1>글쓰기</h1>
<form action="/create" method="get">
            <input type="text" name="title" class="title">
            <br>
            <br>
            <input type="text" name="content" class="content">
            <br>
            <br>
            <input type="submit" value="전송" />
</form>
